---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Likes } from "../components/islands/Likes";

const posts = (await getCollection("blog")).sort((a, b) => {
  return (b.data.pubDate?.getTime() ?? 0) - (a.data.pubDate?.getTime() ?? 0);
});
---

<BaseLayout title={`Blog - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <section
    slot="top"
    class="w-full flex flex-col items-center text-center text-gray-900 dark:text-gray-50"
  >
    <h1 class="pb-4 text-5xl font-shortstack">Blog</h1>
    <p class="max-w-2xl">
      I tend to write about programming and information technology. The blog is
      not updated all too often, but I try to write every now and then. Enjoy!
    </p>
  </section>
  <section
    slot="content"
    class="w-full bg-stone-200 dark:bg-stone-800 flex flex-col items-center"
  >
    <ul class="grid gap-8 max-w-6xl">
      {
        posts.map(({data: post, slug}) => (
          <li
            class={`flex flex-col justify-center gap-2`}
          >
            <a
              href={`/blog/${slug}`}
              class={`
                flex
                min-w-full
                flex-col
                rounded-lg 
                no-underline
                focus:outline-none
                [&>h2]:focus:underline`}
            >
              <h2 class={`
                text-2xl font-shortstack
                text-stone-900 dark:text-stone-50
                underline-stone-900 dark:underline-stone-50`}
              >
                {post.title}
              </h2>
            </a>
            <div class="flex flex-row gap-4 text-stone-600 dark:text-stone-400">
              <Likes
                client:load
                client:only="solid-js"
                collection="blog"
                isCollectionPage
                slug={slug}
              />
              <time
                datetime={post.pubDate?.toISOString()}
                class=""
              >
                {post.pubDate?.toLocaleDateString(
                  "en-us",
                  {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  }
                )}
              </time>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
