---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BeerGlass from "../components/BeerGlass.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Icon } from "astro-icon/components";
import { formatDate } from "date-fns";
import { Likes } from "../components/islands/Likes";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const music = (await getCollection("music")).sort((a, b) => {
  return b.data.date.localeCompare(a.data.date);
});
---

<BaseLayout title={`Music - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <section
    slot="top"
    class="w-full flex flex-col items-center text-center text-gray-900 dark:text-gray-50 p-8 md:p-0"
  >
    <h1 class="pb-4 text-6xl font-shortstack">Recordings</h1>
    <p class="max-w-2xl">
      This is a collection of music I've recorded. I mostly play on synthesizers
      and other electronic instruments. My music is inspired by the 80s synth
      wave and science fiction movie soundtracks. Please enjoy and let me know
      what you think.
    </p>
  </section>
  <section
    slot="content"
    class="w-full bg-stone-200 dark:bg-stone-800 flex flex-col items-center"
  >
    <ul class="grid gap-16 max-w-6xl auto-cols-auto">
      {
        music.map(({ data, slug }) => (
          <li class={`max-w-2xl text-stone-900 dark:text-stone-50`}>
            <a href={`/music/${slug}`} class="flex flex-row items-center">
              <div class="flex flex-col">
                <h2
                  class={`
                    font-shortstack underline-stone-900
                    dark:underline-stone-50 text-2xl
                    mb-2
                    underline
                `}
                >
                  {data.title}
                </h2>
                <div class="flex flex-row gap-4">
                  <Likes
                    client:load
                    client:only="solid-js"
                    collection="music"
                    slug={slug}
                    isCollectionPage
                  />
                  <span class="flex flex-row gap-2 items-center text-xs opacity-70">
                    <Icon name="material-symbols:copyright-outline" /> Copyright{" "}
                    {formatDate(new Date(), "yyyy")} Snorre Magnus Davøen - All
                    rights reserved
                  </span>
                </div>
              </div>
            </a>
            <audio controls class="w-full pt-4" preload="none">
              {data.tracklist[0].downloads.map((download) => {
                return (
                  <source
                    src={`https://music.snorre.io/${download.url}`}
                    type={`audio/${download.format}`}
                  />
                );
              })}
            </audio>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style is:global>
  .project {
    @apply w-full text-stone-900 dark:text-stone-50;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-shortstack;
      margin: 1em 0 0.5em;
    }

    h2 {
      @apply text-4xl;
    }

    h3 {
      @apply text-3xl;
    }

    h4 {
      @apply text-2xl;
    }

    h5 {
      @apply text-xl;
    }

    p {
      margin: 1em 0 0.5em;
    }

    pre {
      @apply mx-0 my-4 max-w-full self-center rounded-lg px-4 py-8 drop-shadow;
    }

    img {
      @apply inline-flex self-center rounded-lg drop-shadow;
    }

    Image {
      @apply w-fit justify-self-center;
    }

    a {
      @apply underline underline-offset-2;
    }

    ul {
      max-width: 70ch;
    }

    li {
      @apply ml-4 list-disc;
    }
  }
</style>
