---
import { Icon } from 'astro-icon'
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const projects = (await Astro.glob("../projects/*.mdx")).sort(
  (a, b) =>
    new Date(b.frontmatter.from).valueOf() -
    new Date(a.frontmatter.from).valueOf()
);
---

<BaseLayout title={`Projects - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <section
    slot="top"
    class="w-full flex flex-col items-center text-center text-gray-900 dark:text-gray-50"
  >
    <h1 class="pb-4 text-6xl font-shortstack">Projects</h1>
    <p class="max-w-2xl">
      I have worked on various projects at work and in my free time. Here are
      some of them.
    </p>
  </section>
  <section
    slot="content"
    class="w-full bg-stone-200 dark:bg-stone-800 flex flex-col items-center"
  >
    <ul class="grid gap-8 max-w-6xl auto-cols-auto">
      {
        projects.map((post) => (
          <li class={`max-w-2xl text-stone-900 dark:text-stone-50`}>
            <h2
              class={`
                font-shortstack underline-stone-900
                dark:underline-stone-50 text-4xl
                `}
            >
              {post.frontmatter.title}
            </h2>
            <div class="text-stone-700 dark:text-stone-300">
              <time datetime={post.frontmatter.from}>
                {new Date(post.frontmatter.from).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                })}
              </time>
              {post.frontmatter.to && (
                <>
                  {" to "}
                  <time datetime={post.frontmatter.to}>
                    {new Date(post.frontmatter.to).toLocaleDateString("en-us", {
                      year: "numeric",
                      month: "short",
                    })}
                  </time>
                </>
              )}
              {!post.frontmatter.to && <>{" to present"}</>}
            </div>
            <div class="project">
              <post.Content />
            </div>
            {post.frontmatter.link && (
              <a
                href={post.frontmatter.link}
                class={`
                  w-fit
                  flex flex-row items-center gap-2
                  font-shortstack text-sm
                  border border-stone-500 dark:border-stone-500 p-2
                  outline-none
                  focus-visible:outline-offset-4
                  focus-visible:outline-stone-800 dark:focus-visible:outline-stone-100
                  text-stone-800 dark:text-stone-100 rounded-drawn
                  hover:rotate-2`}
              >
                Show project <Icon class="ml-2 w-[1em]" name="mdi:link-variant" />
              </a>
            )}
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style is:global>
  .project {
    @apply w-full text-stone-900 dark:text-stone-50;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-shortstack;
      margin: 1em 0 0.5em;
    }

    h2 {
      @apply text-4xl;
    }

    h3 {
      @apply text-3xl;
    }

    h4 {
      @apply text-2xl;
    }

    h5 {
      @apply text-xl;
    }

    p {
      margin: 1em 0 0.5em;
    }

    pre {
      @apply mx-0 my-4 max-w-full self-center rounded-lg px-4 py-8 drop-shadow;
    }

    img {
      @apply inline-flex self-center rounded-lg drop-shadow;
    }

    picture {
      @apply w-fit justify-self-center;
    }

    a {
      @apply underline underline-offset-2;
    }

    ul {
      max-width: 70ch;
    }

    li {
      @apply ml-4 list-disc;
    }
  }
</style>
